---

- name: Disable lingering for rootless user
  become: true
  ansible.builtin.command:
    cmd: "loginctl disable-linger {{ rootless_user }}"
  args:
    removes: "/var/lib/systemd/linger/{{ rootless_user }}"

- name: "Ensure subid removal of user {{ rootless_user }}"
  become: true
  loop:
    - subuid
    - subgid
  ansible.builtin.lineinfile:
    path: "/etc/{{ item }}"
    regexp: ".*{{ rootless_user }}.*"
    state: absent

- name: Ensure container user is removed
  become: true
  ansible.builtin.user:
    name: "{{ rootless_user }}"
    comment: "Container service account"
    home: "{{ rootless_user_home }}"
    create_home: true
    system: "{{ system_user }}"
    shell: /bin/bash
    state: absent

...
