---

- name: Ensure container user exists
  become: true
  ansible.builtin.user:
    name: "{{ rootless_user }}"
    comment: "Container service account"
    home: "{{ rootless_user_home }}"
    create_home: true
    system: "{{ system_user }}"
    shell: /bin/bash
    state: present

- name: Enable lingering for rootless user
  become: true
  ansible.builtin.command:
    cmd: "loginctl enable-linger {{ rootless_user }}"
  args:
    creates: "/var/lib/systemd/linger/{{ rootless_user }}"

- name: Add containers user to systemd-journal group
  become: true
  ansible.builtin.user:
    name: "{{ rootless_user }}"
    groups: "systemd-journal"
    append: true

- name: Set up sbids for system user
  when: system_user
  block:
    - name: Get subuid user entry
      ansible.builtin.command:
        cmd: |
          grep -q '^{{ rootless_user }}:' /etc/subuid
      register: subuid_result
      changed_when: false
      failed_when: subuid_result.rc not in [0, 1]

    - name: Get subgid user entry
      ansible.builtin.command:
        cmd: |
          grep -q '^{{ rootless_user }}:' /etc/subgid
      register: subgid_result
      changed_when: false
      failed_when: subgid_result.rc not in [0, 1]

    - name: Initialize subid list
      ansible.builtin.set_fact:
        subids: >-
          {{
            ([ 'subuid' ] if subuid_result.rc == 1 else [])
            + ([ 'subgid' ] if subgid_result.rc == 1 else [])
          }}

    - name: Include subid config
      loop: "{{ subids }}"
      loop_control:
        loop_var: subid_type
      ansible.builtin.include_tasks:
        file: subid_config.yml

...
